.header{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.row{
  margin-top: 10px;
}

.error{
  color: red;
}

.question-p {
  text-align: center;
}

.btn-holder {
  text-align: center;
}